.container {
    margin-left: 0;
    margin-right: 0;
    width: 1100px;
    background-color:white;
}

/* header - section */

.logo-image {
    width: 900px;
}

.header {
    width: 950px;
    height: 550px;
    background-size:cover;
    margin-left: auto;
    margin-right: auto;
}

.quote-1 {
    height: 75px;
}

.text {
    text-align: center;
    font-family:'Pacifico', cursive;
    font-size: 25px;
}

.bio-header {
    margin-top: 200px;
    line-height: 120px;
    padding-left: 30px;
    font-size: 50px;
    color: #ececec;
    font-weight: bold;
    height: 120px;
    width: 768px;
}

/* main-content section */

.main-content {
    height: 700px;
    width: 800px;
    position: relative;
    top: 25px;
    left: 15px;
    font-family: 'Dosis' , sans-serif;
}